@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Urbanist:ital,wght@0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Russo+One&family=Urbanist:ital,wght@0,800;1,800&display=swap');

body {
  margin: 0px;
  padding: 0px;
}

.footer {
  font-family: 'Russo One';
  font-size: 12px;
  margin-left: 30px;
}

.navbar {
  text-align: right;
  overflow: hidden;
  background-color: rgba(37, 64, 77, 1);
  padding: 15px;
  font-size: 20px;
  font-family: 'Russo One', 'Sans-serif';
}

.logo {
  margin-top: 40px;
  margin-left: 45px;
  max-width: 380px;
  max-height: 380px;
}

.container {
  display: flex;
  flex-direction: row; /* This line changes the default flex direction to row */
}

.profile-section {
  width: 308px;
  height: 401px;
  background: #F5F5F5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-left: 78px;
  margin-top: -10px;
  margin-bottom: 20px;
}

.profileAndName {
  display: flex;
}

.profilePicture {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  margin-left: 20px;
  margin-top: 10px;
}

.profile-photo {
  width: 91px; 
  height: 88px; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 250px;
  display: flex;
  align-items: center;
}

.magicoin {
  margin-top: -45px;
}

.no-of-mc, p {
  display: flex;
  font-family: 'Russo One';
}

.profile-head-text {
  padding-bottom: 30px;
  margin-left: 40px;
  font-family: 'Russo One';
  font-size: 30px;
}

.profile-text {
  font-family: 'Russo One';
  margin-top: -25px;
  margin-left: 20px;
}

.QuestLogsShapeAndText {
  width: 216px; 
  height: 69.01px; 
  position: relative;
}

.QuestLogShape {
  width: 216px; 
  height: 69.01px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  background: #C3D3DB; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 30px;
  margin-left: 47px;
  margin-top: 3px;
}

#quest-logs-button {
  width: 172.44px; 
  height: 38.88px; 
  left: 21px; 
  top: 16px; 
  position: absolute; 
  text-align: center; 
  color: #023047; 
  font-size: 26px; 
  font-family: Russo One; 
  font-weight: 400; 
  word-wrap: break-word;
  margin-left: 47px;
  margin-top: 3px;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

.quest-display {
  width: 1047px;
  height: 650px;
  background: #F5F5F5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-left: 55px;
  margin-top: 30px;
}

.post-quest {
  width: 293px; 
  height: 70px; 
  left: 0px; 
  top: 0px; position: absolute; 
  background: #FFB703; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 250px
}

.AddQuestGroup {
  width: 293px; 
  height: 70px; 
  position: relative;
}

.quest-search {
  margin-top: 25px; 
}

.AddQuestButton {
  width: 293px; 
  height: 70px; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
  background: #FFB703; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 250px;
  margin-left: 20px;
}

#AddQuestText {
  width: 248.94px; 
  left: 23px; 
  top: 15px; 
  position: absolute; 
  text-align: center; 
  color: #313638; 
  font-size: 33px; 
  font-family: Russo One; 
  font-weight: 400; 
  word-wrap: break-word; 
  margin-left: 20px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer; 
}

.SearchBar {
  width: 650px; 
  height: 70px; 
  background: #FFFCFC; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 250px;
  margin-left: 350px;
  border-color: transparent;
}

.quest-01 {
  display: flex;
  align-items: center; 
  margin-top: 30px;
  margin-left: 50px;
  width: 650px; 
  height: 100px; 
  background: #FFFCFC; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 70px;
}

.quest-01 img {
  width: 80px; 
  height: 80px; 
  border-radius: 50%; 
  margin-left: 20px;
}

.title-01 {
  margin-left: 20px; 
  flex-grow: 1; 
  height: 100%; 
  display: flex; 
  align-items: center; 
}

.quest-02 {
  display: flex;
  margin-top: 30px;
  margin-left: 50px;
  width: 650px; 
  height: 100px; 
  background: #FFFCFC; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 70px;
}

.quest-02 img {
  width: 80px; 
  height: 80px; 
  border-radius: 50%; 
  margin-left: 20px;
  margin-top: 10px;
}

.title-02 {
  margin-left: 20px; 
  flex-grow: 1; 
  height: 100%; 
  display: flex; 
  align-items: center; 
}

.quest-03 {
  display: flex;
  margin-top: 30px;
  margin-left: 50px;
  width: 650px; 
  height: 100px; 
  background: #FFFCFC; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 70px;
}

.quest-03 img {
  width: 80px; 
  height: 80px; 
  border-radius: 50%; 
  margin-left: 20px;
  margin-top: 10px;
}

.title-03 {
  margin-left: 20px; 
  flex-grow: 1; 
  height: 100%; 
  display: flex; 
  align-items: center; 
}

.quest-04 {
  display: flex;
  margin-top: 30px;
  margin-left: 50px;
  width: 650px; 
  height: 100px; 
  background: #FFFCFC; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 70px;
}

.quest-04 img {
  width: 80px; 
  height: 80px; 
  border-radius: 50%; 
  margin-left: 20px;
  margin-top: 10px;
}

.title-04 {
  margin-left: 20px; 
  flex-grow: 1; 
  height: 100%; 
  display: flex; 
  align-items: center; 
}